body{
    font-family: helvetica;
    color: white;
}
.navbar {
    background-color: #171717;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #171717;
}

.card{
    background-color: transparent;
}
.card:hover{
    background-color: #171717 !important;
}

#about,#news,#content{
    background-color: #000000;
}

.menu-area{
    /* position: static; */
}

.mega-area{
    background-color: #171717;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}